/* TASK 1 */
/* p{
    color: red;
}

.a{
    color: blue;
}

#b{
    color:green;
} */

/* TASK 2 */

/* .heading{
    color: red;
}
#diff{
    background-color: pink;
} */

/* TASK 3 */

.card{
    border: 2px solid brown;
    background-color:purple;
}

#featured{
    background-color: pink;
    border: 4px solid orangered;
}